.post {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}

.post .vote {
  width: 60px;
  background-color: var(--reddit-light-grey);
}

.post .content {
  width: 500px;
  position: relative;
  padding: 10px;
  margin-right: 30px;
  float: left;
  
}

.post-title {
  padding-bottom: 10px;
  margin: 0;
  color: #995303;
  text-align: left;

}

.post-author {
  margin: 5px 0;
  font-size: 12px;
  color: var(--reddit-blue);
  float: left;
  display: inline;
}

.post-text {
  margin: 5px 0;
  font-size: 13px;
  color: #403f3d;
  text-align: left

}

.comments {
  width: 250px;
  float: right;
  position: relative;
  background-image: linear-gradient(to right bottom, #eff4fb, #f3f6fb, #f7f8fb, #fafafc, #fcfcfc);}

.icon_vote {
  color: #797f85;
  font-size: 100px;
}

.vote_up {
  /*padding-left: 20%;
  padding-top: 150%;*/
  position: absolute;
  left: 23.4%;
  margin-top: 20px;
}

.vote_down {
  /*padding-bottom: 150%;
  padding-left: 20%;*/
  position: absolute;
  left: 23.4%;
  margin-top: 75px;
}

.comments_amount {
  position: relative;
  float: right;
  font-size: 12px;

}

.subseddit_post {
  font-size: 12px;
}

.div_each_comment {
  border: 10px;
  background-color: #c5dafa
}

.close_modal {
  position: absolute;
  top:58%;
  right: 10%;
  color: white;
  font-size: 350%
}